h1 {
    color: red;
}

p,
li {
    color: green;
    list-style-type: kannada;
}

li.special,
span.special {
    color: orange;
    font-weight: bold;
}

.special {
    color: black;
}

li em {
    color: rebeccapurple;
}

.special em {
    color: yellow;
}

a:link {
    color: black;
}

a:visited {
    color: yellow;
}

a:hover {
    color: red;
}